# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.swp

# Go
*.exe
*.test
*.out
/services/**/bin/

# Rust
target/
**/*.rs.bk

# Node
node_modules/
.next/
.turbo/
dist/
build/
coverage/

# Env
.env
.env.local
.env.*.local

# Logs
*.log

# Infra local state
infra/local-data/
