go 1.25.0

use (
	./libs/go/audit
	./libs/go/auth
	./libs/go/config
	./libs/go/db
	./libs/go/httpx
	./libs/go/logger
	./libs/go/nats
	./libs/go/otel
	./services/_template
	./services/audit-worker
	./services/document-svc
	./services/identity-svc
	./services/project-svc
	./services/tenant-svc
)
