go 1.25.0

use (
	./libs/go/audit
	./libs/go/auth
	./libs/go/config
	./libs/go/db
	./libs/go/httpx
	./libs/go/logger
	./libs/go/nats
	./libs/go/otel
	./services/_template
	./services/audit-svc
	./services/audit-worker
	./services/document-svc
	./services/identity-svc
	./services/mfg-svc
	./services/project-svc
	./services/quality-svc
	./services/reports-svc
	./services/tenant-svc
	./services/workflow-svc
)
